@using Models.Entity.Models
@using Logic
@inject IJSRuntime JSRuntime

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">@Atencion.NombreMascota</h5>
        <p><strong>Profesional:</strong> @Atencion.NombreProfesional</p>
        <p><strong>Fecha y Hora:</strong> @Atencion.FechaHora</p>
        <p><strong>Servicios:</strong> @(Atencion.Servicios.Any() ? string.Join(", ", Atencion.Servicios.Select(s => s.Nombre)) : "Ningún servicio agregado")</p>

        <div class="input-group">
            <select class="form-select" @bind="IdServicioSeleccionado" >
                <option selected disabled value="">Agregar servicio</option>
                @foreach (var servicio in serviciosDisponibles)
                {
                    <option value="@servicio.ServicioId.ToString()">@servicio.Nombre</option>
                }
            </select>
            <button class="btn btn-primary" @onclick="AddService">Agregar</button>
            <button class="btn btn-danger flex-md-row" @onclick="DeleteService">Eliminar</button>

        </div>

        @* <button class="btn btn-outline-primary mt-2" @onclick="() => OpenObservationsModal(Atencion.Id)">Record Observations</button>
        @if (!string.IsNullOrEmpty(Atencion.Observations))
        {
            <p class="card-text mt-2"><strong>Observations:</strong> @Atencion.Observations</p>
        } *@
    </div>
</div>

@code {
    [Parameter] public InfoAtencionesRealizadas Atencion { get; set; }
    @*[Parameter] public EventCallback<int> OnSaveObservations { get; set; }*@
    [Parameter] public EventCallback<(int, Servicio)> OnAddService { get; set; }

    private List<Servicio> serviciosDisponibles { get; set; } = new List<Servicio>();
    private string IdServicioSeleccionado { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        await cargarServiciosParaLaAtencion();
    }

    private async Task cargarServiciosParaLaAtencion()
    {
        serviciosDisponibles = await Logic.AtencionLogic.GetServiciosPosiblesByIdAtencion(Atencion.AtencionId);
    }


    private async Task AddService()
    {
        if (int.TryParse(IdServicioSeleccionado, out int servicioId))
        {
            var servicio = serviciosDisponibles.FirstOrDefault(s => s.ServicioId == servicioId);
            if (servicio != null)
            {
                await OnAddService.InvokeAsync((Atencion.AtencionId, servicio));
            }
        }
    }

    // private async Task OpenObservationsModal(int shiftId)
    // {
    //     await JSRuntime.InvokeVoidAsync("bootstrap.Modal.getOrCreateInstance", "#observationsModal").Show();
    // }
}
